<header>
  <nav>
    <div id="brand">
      <div id="logo"></div>
      <div id="word-mark"></div>
    </div>
    <div id="menu">
      <div id="menu-toggle">
        <div id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      <h1>Cocktails</h1>
      </div>
      <ul>
        <% @cocktails.each_with_index do |cocktail, index| %>
        <li><a href="#section0<%=index%>"></a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <div id="hero-section">
  </div>
</header>
  <% @cocktails.each_with_index do |cocktail, index| %>
    <section id="section0<%=index%>">
  <div class="centerer">
    <div id="heading"></div>
  </div>
    </div>
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
        <div class="container">
          <h1><%= link_to cocktail.name, cocktail_path(cocktail) %></h1>
        </div>
      </div>
    </section>
  <span id="piece-of-shit" class="btn btn-primary"> <%= link_to "Brew a new Concotion", new_cocktail_path%> <span>
  <% end %>
