<header>
  <nav>
    <div id="brand">
      <div id="logo"></div>
      <div id="word-mark"></div>
    </div>
    <div id="menu">
      <div id="menu-toggle">
        <div id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </nav>
</header>
  <div id="heading"></div>
  <h1> <%= @cocktail.name %> </h1>
</div>
  <section id="section0<%=@cocktail.id%>">
<div class="centerer">
  <div id="heading"></div>
</div>
  </div>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key %>')">
        <h1> <%= @cocktail.name %></h1>
      <div class="container">
      </div>
    </div>
  </section>




<div class="cards">
  <%@cocktail.doses.each do |dose| %>
  <div class="card" style="background-color: black">
  <h3> <%= dose.ingredient.name %>: <%= dose.description %></h3>
  <p> <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do %>
      <div class="delete-button">Delete</div></p>
  </div>
  <% end %>
<% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :ingredient_id , collection: Ingredient.all, input_html: { class: 'select2' }, include_hidden: false  %>
        <%= f.input :description %>
        <%= f.submit "add a dose", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>



<div class="btn btn-primary"><%= link_to "back", cocktails_path%>
